{# src/Louvre/BookingBundle/Resources/views/Home/home.html.twig #}

{% extends "LouvreBookingBundle:Default:layout.html.twig" %}

{% block title %}
    {{ parent() }} - Booking
{% endblock %}

{% block BookingBundle_content %}
<section class="col s12 m12 l9" id="content">
    <div id="images">
        <img class="responsive-img" src="{{ asset('images/Louvre_1.jpg') }}" alt="Photo du Musée">
    </div>
    <div>
        <h4  class="center-align light-blue-text darken-4">Bienvenue sur le nouveau système de réservation en ligne du Musée du Louvre !!</h4>
    </div>
</section>

{% endblock %}

