{# src/Louvre/BookingBundle/Resources/views/Default/home.html.twig #}

{% extends "LouvreBookingBundle:Default:layout.html.twig" %}

{% block title %}
    {{ parent() }} - Accueil
{% endblock %}

{% block BookingBundle_content %}
    <h4 id="reserBillet">Bienvenue sur la Billetterie Non Officielle</h4>
    <section class="well col-lg-9">
    <div id="mycarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active">
                    <img class="img-responsive" src="{{ asset('images/Louvre_1.jpg') }}" alt="Photo du Musée">
                <div class="carousel-caption">
                    <h1>Nouveau système de réservation en ligne du Musée du Louvre !!</h1>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

