/* AJUSTEMENT IMAGE D'ACCUEIL */
.carousel-caption h1{
    color: white;
    margin-bottom: 30px;
    background-color: rgba(0, 0, 0, 0.5);
}

/* AJUSTEMENT CSS SOUS FORMULAIRE */
#louvre_bookingbundle_reservation_Valider{
    display: none;
}

.form-horizontal .checkbox{
    margin-top:15px;
    padding-top: 15px;
}

.form-horizontal .checkbox label{
    font-weight: bolder;
}

/* AJUSTEMENT TABLEAU RECAP VISITEURS */
.table-bordered>tbody>tr>td{
    text-align: center;
}

/* AJUSTEMENT PARTIE PAIEMENT*/

.alert h5, .alert h6{
    text-align: center;
}

/* AJUSTEMENT VUE EMAIL*/
/*#logo {*/
    /*background-image: url('./images/logo_Louvre.jpg');*/
/*}*/

/* CSS DEDIE AU FOOTER */
footer{
    background-color: #1995dc;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
    text-align: center;
    color: white;
}

footer p {
    padding: 20px;
    margin: 0px;
    line-height: 20%;
}

footer a{
    color: white;
    font-weight: bolder;
}