
#content{
    padding-top: 20px;
}

#boxes{
    padding-bottom: 20px;
    padding-right: 5px;
}
.trait{
    border-top: solid 1px #03A9F4;
}

span{
    font-size: small;
}

strong{
    font-weight: bolder;
}

span.badge.new{
    background-color: #1E88E5;
}


@media only screen and (max-width : 640px) {
    header, main, footer {
        padding-left: 0;
    }

}

/* ********** CSS FORMULAIRE COMMANDE ************ */

/* ****** Modification des couleurs par défaut de Materialize ******* */
.picker__date-display, .picker__weekday-display{
    background-color: #03A9F4;
}

.picker__today, .picker__close {
    color: #03A9F4;
}



    /* label color */
.input-field label {
    color: #000;
}
/* label focus color */
.input-field input[type=text]:focus + label {
    color: #000;
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
/* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
.input-field .prefix.active {
    color: #000;
}