body {
    padding-top: 80px;
    padding-bottom: 80px;
}

/* AJUSTEMENT IMAGE D'ACCUEIL */
.carousel-caption h1{
    color: white;
    margin-bottom: 25px;
    background-color: rgba(25, 149, 220, 0.5);
}

/* AJUSTEMENT CSS NAVBAR */
.navbar-brand {
    display: flex;
    align-items: center;
    padding: 8px 0px;
}
.navbar-brand>img {
    padding: 7px 14px;
    width: 40%;
}

/* AJUSTEMENT CSS SOUS FORMULAIRE */

section #subfrom{
    background-color: #E3F2F9;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.form-horizontal .form-group {
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 5px;
    border-bottom: 2px dashed lightgrey;
}


#louvre_bookingbundle_reservation_Valider{
    display: none;
}

.form-horizontal .checkbox{
    margin-top:15px;
    padding-top: 15px;
}

.form-horizontal .checkbox label{
    font-weight: bolder;
}

/* AJUSTEMENT TABLEAU RECAP VISITEURS */
.table-bordered>tbody>tr>td{
    text-align: center;
}

/* AJUSTEMENT PARTIE PAIEMENT*/

.alert h5, .alert h6{
    text-align: center;
}


/* CSS DEDIE AU FOOTER */
footer{
    background-color: #1995dc;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
    text-align: center;
    color: white;
}

footer p {
    padding: 20px;
    margin: 0px;
    line-height: 20%;
}

footer a{
    color: white;
    font-weight: bolder;
}

/* AJUSTEMENT MEDIA QUERIES */
@media screen and (min-width: 200px) and (max-width: 590px) {
    .carousel-caption h1 {
        font-size: small;
    }
}

@media screen and (min-width: 590px) and (max-width: 768px) {
    .carousel-caption h1 {
        font-size: 25px;
    }
}